@{
    ViewBag.Title = "Index";
}

<h2>Upload your route</h2>

@using (Html.BeginForm("Upload", "Route", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">TCX-file:</label>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}